/* global styles */
@import "reset.css";
@import "typography.css";

/*.layout and view styling */
@import "../server/layouts/base.css";
@import "../server/views/index.css";
@import "../server/views/competitions.css";
@import "../server/views/results.css";

/* component styling */
@import "../server/components/card/card.css";
@import "../server/components/questions/question.css";

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  display: grid;
}

main {
  padding: 1rem;
  gap: 1em;
  display: grid;
}
