{% layout "server/layouts/base.liquid" %}

{% block content %}
<h1>{{ title }}</h1>
<button id="startButton">Start Quiz</button>
<div class="qcontainer">
  {% render '../components/questions/question.liquid', questions:questions, competitionId: competitionId %}

  <div id="timer" style="font-size: 24px; font-weight: bold;"></div>

  <div class="progress-container">
    <div class="progress-bar"></div>
  </div>

</div>
{% endblock %}