.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

:root {
  --base-color: #2E3532;
  --second-color: #D9D9D9;
  --text-color: #CC6048;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
}