{% layout "server/layouts/base.liquid" %}

{% block content %}
<h1>{{ title }}</h1>
<ul class="grid">
  {% for league in leagues %}
  {% render "../components/card/card.liquid", league: league %}
  {% endfor %}
</ul>
{% endblock %}
