{% layout "server/layouts/base.liquid" %}

{% block content %}
<div>
  <div class="hero">
    <p>WELCOME TO</p>
    <h1>{{ title }}</h1>
    <p>Are you ready to test your football knowledge?</p>
    <img src="/images/arsenal.jpg" alt="Arsenal">

  </div>
  <div>
    <ul class="grid">
      {% for league in leagues %}
      {% render "../components/card/card.liquid", league: league %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
